.navbar-menu {
  cursor: pointer;
}

.navbar-menu .dropdown-menu {
  top: 50px;
  display: none;
  width: calc(100vw - 140px);
  z-index: 99;
}

.navbar-menu:hover .dropdown-menu {
  display: flex;
  animation-name: bounce;
  animation-duration: 0.3s;
}
@keyframes bounce {
  from {
    top: 100px;
  }
  to {
    top: 50px;
  }
}
.ant-drawer .ant-drawer-header {
  border-bottom: none;
}

.ant-collapse-item {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.ant-collapse-header-text,
.ant-collapse-expand-icon {
  font-size: 16px;
  font-weight: 600;
}

.ant-menu-submenu-popup .ant-menu-vertical.ant-menu-sub {
  width: 80vw;
  position: absolute;
  left: 0;
  right: 0;
}
.ant-menu-item-group-list {
  display: flex;
}
