.filter-product-item .ant-select-selector {
  border-radius: 24px !important;
  padding: 12px 40px 12px 16px;
  text-align: left;
}
.filter-product-item.ant-select-selector span {
  color: #221f20;
  font-size: 14px;
}
.ant-select-dropdown .ant-select-item {
  font-size: 14px;
  line-height: 40px;
  color: #221f20;
  font-family: "Montserrat", sans-serif;
}
.filter-product .ant-collapse-item {
  background: #fff !important;
  border-top: 1px solid #f7f8f9 !important;
  margin-bottom: 5px !important;
}
.filter-product .ant-collapse-header-text {
  font-size: 16px;
  line-height: 20px;
  color: #221f20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  font-weight: normal;
  cursor: pointer;
}
.filter-product .ant-collapse-expand-icon {
  position: absolute;
  right: 20px;
}
.filter-product
  .ant-collapse-content
  .ant-collapse-content-box
  .button-size
  .ant-btn {
  background: #fff;
  border: 1px solid #e7e8e9;
  border-radius: 8px 0px !important;
  height: 32px;
  font-size: 12px;
  color: #6c6d70;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.filter-product .ant-collapse-content .ant-collapse-content-box .ant-btn:focus {
  border: 1px solid #000 !important;
  color: #000 !important;
}
.filter-product .render-option-radio .ant-radio-wrapper span {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #6c6d70;
  font-family: "Montserrat", sans-serif;
}
.filter-product .render-option-radio .ant-radio-wrapper-checked span {
  color: #221f20;
  font-weight: 600;
}
body {
  overflow: auto;
}